[Unit]
Description=Reddit post scheduler

[Service]
Environment=CONFIG_PATH=/home/jeanluc/Code/reddit-scheduler/config.ini
Environment=DB_PATH=/home/jeanluc/Code/reddit-scheduler/database.sqlite
Environment=DEBUG=1
ExecStart=/home/jeanluc/Code/reddit-scheduler/dist/server
