altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
grpcio==1.36.1
grpcio-tools==1.36.1
idna==2.10
praw==7.2.0
prawcore==2.0.0
protobuf==3.15.7
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
systemd-python==234
tabulate==0.8.9
update-checker==0.18.0
urllib3==1.26.4
websocket-client==0.58.0
